/* ---------------------------
  08. Woocommerce Style 
------------------------------*/

// ==================================
// shop archive page
// ==================================
.post-type-archive-product.woocommerce-shop {
  .container-fluid {
    .site-main {
      max-width: 90%;
      margin: 0 auto;

      @media (max-width: 1200px) {
        max-width: 95%;
      }

      @media (max-width: 767px) {
        max-width: 100%;
      }
    }
  }
}

.related-slider-wrapper {
  position: relative;

  .product {
    img {
      width: 100%;
      margin-bottom: 24px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--borderColor);
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--btnBgColor) !important;
    margin: 0;

    @media (max-width: 767px) {
      width: 40px;
      min-width: 40px;
      height: 40px;
    }

    &::before {
      color: var(--btnColor) !important;
      bottom: auto;
      left: auto;
      margin: 0;

      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }

  .swiper-button-next {
    right: -20px;

    @media (max-width: 575px) {
      right: 10px;
    }
  }

  .swiper-button-prev {
    left: -20px;

    @media (max-width: 575px) {
      left: 10px;
    }
  }
}

.tp_shop_top_portion {
  border: 1px solid var(--borderColor);
  background-color: var(--body_bg);
  border-radius: var(--boxBorderRadius);
  padding: 15px;

  .layout_area .woocommerce-ordering {
    margin-bottom: 0;
    select {
      margin-bottom: 0;
    }
  }

  &.shop_topbar_position_1 {
    .tp_shop_top_portion_bar {
      flex-direction: row-reverse;

      .layout_area,
      .bar_area {
        flex-direction: row-reverse;
      }
    }
  }

  .bar_area .sidebar_link {
    background: transparent;

    img {
      width: 28px;
      min-width: 28px;
      height: 28px;
    }

    i {
      font-size: 20px;
    }
  }

  p.woocommerce-result-count {
    margin-bottom: 0;
    color: var(--titleColor);
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    padding: 10px;

    @media (max-width: 400px) {
      .nice-select {
        padding: 10px;
        padding-right: 24px;

        &:after {
          right: 12px;
        }
      }
    }

    .layout_area {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.main-category-info {
  img {
    max-width: 100px;
    width: 100px;
    height: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
  }
}

// product card
.product_card {
  flex-direction: column;
  gap: 20px;
  padding: 12px;
  padding-bottom: 24px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  background: var(--globalColor);

  .product_card_thumb {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background: var(--globalColor);

    img {
      width: 100%;
      transition: all 0.7s ease;
    }

    .product_2nd_img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .product_icon_actions,
  .product_color_options {
    position: absolute;
    z-index: 2;
  }

  .product_color_options {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    width: 100%;
    gap: 10px;

    .variant_color {
      width: 16px;
      max-width: 16px;
      height: 16px;
      padding: 0 !important;
      border-radius: 50%;
      outline-offset: 2px;
      outline: 1px solid var(--borderColor);
    }
  }

  .product_icon_actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 50%;
    right: -160px;
    transform: translateY(-50%);
    gap: 8px;
    transition: var(--transition);

    .product_icon {
      a,
      .woosc-btn-icon-only,
      .woosq-btn-icon-only,
      .woosw-btn-icon-only {
        background: var(--body_bg);
        color: var(--titleColor);
        height: 40px;
        width: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        border: none;

        i,
        span {
          font-size: 18px;
        }

        &:hover {
          background: var(--btnHoverBgColor2);
          color: var(--btnHoverColor2);
        }
      }

      &.compare a.woosc-btn-added,
      &.heart a.woosw-btn-added,
      &.cart a.added {
        background: var(--btnHoverBgColor2);
        color: var(--btnHoverColor2);
      }

      &.cart {
        display: flex;
        gap: 4px;
        flex-direction: row-reverse;

        a.added_to_cart {
          width: unset;
          min-width: unset;
          border-radius: var(--btnBorderRadius);
          padding: 10px 12px;
          line-height: 1.2;
          border: none;
        }
      }
    }
  }

  .product_info {
    .product_title a {
      color: var(--titleColor);
    }

    .product_price .price del span {
      text-decoration: line-through;
      color: var(--titleColor);
    }

    .woocommerce-Price-amount {
      color: var(--primaryColor);
    }
  }

  &.has_2nd_img:hover {
    .product_card_thumb {
      .product_2nd_img {
        opacity: 1;
      }
    }
  }

  &:hover {
    .product_card_thumb {
      img {
        transform: scale(1.04);
      }
    }

    .product_icon_actions {
      right: 24px;
    }
  }
}

.product_card_list .product_card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: var(--globalColor);

  @media (max-width: 991px) {
    gap: 24px;
  }

  @media (max-width: 767px) {
    align-items: start;
    gap: 18px;

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  .product_card_thumb {
    min-width: 320px;
    width: 320px;

    @media (max-width: 991px) {
      min-width: 260px !important;
      width: 260px !important;
    }

    @media (max-width: 767px) {
      min-width: 220px !important;
      width: 220px !important;
    }

    @media (max-width: 575px) {
      min-width: 100% !important;
      width: 100% !important;
    }
  }

  .product_info {
    width: 100%;
    padding: 12px;
    padding-left: 0;

    @media (max-width: 991px) {
      .woo_card_btn.mt-30 {
        margin-top: 24px;
      }
    }

    @media (max-width: 575px) {
      padding-top: 0px;
      padding-left: 12px;
    }
  }
}

// product star-rating
.product_rating {
  margin-bottom: 12px;
  .star-rating {
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1.1;
    width: 5.7em;

    &::before {
      content: "\e82b\e82b\e82b\e82b\e82b";
      font-family: "tp-icons";
      color: #cfc8d8;
      top: 0;
      left: 0;
      position: absolute;
    }

    span {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      padding-top: 1.5em;
      font-size: 12px;
      gap: 8px;
      color: var(--primaryColor);

      &::before {
        content: "\e821\e821\e821\e821\e821";
        font-family: "tp-icons";
        top: 0;
        left: 0;
        position: absolute;
      }

      strong {
        display: block;
      }
    }
  }
}

// pagination
.pagination-area,
.woocommerce-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @media (max-width: 991) {
    margin-top: 40px;
  }

  .nav-links,
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    list-style: none;

    .page-numbers {
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      background: var(--globalColor);
      color: var(--btnColor2);
      border: 1px solid var(--borderColor);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      transition: var(--transition);

      &.current,
      &:focus,
      &:hover {
        background: var(--btnHoverBgColor2);
        color: var(--btnHoverColor2);

        .page-numbers.current,
        .page-numbers {
          color: inherit;
        }
      }

      &.prev,
      &.next {
        font-size: 0;
        position: relative;

        &::before {
          content: "\f104";
          font-family: "fontawesome";
          font-size: 16px;
        }
      }

      &.next {
        &::before {
          content: "\f105";
        }
      }
    }
  }
}

.woo_card_btn {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.woo_card_btn a,
.added_to_cart,
.add_to_cart_button {
  padding: 12px 20px;
  background: var(--btnBgColor);
  color: var(--btnColor);
  border-radius: var(--btnBorderRadius);
  border: 1px solid var(--borderColor);
  display: inline-flex;
  line-height: 1.3;

  @media (max-width: 991px) {
    padding: 10px 16px;
  }

  &:focus,
  &:hover {
    background: var(--btnHoverBgColor);
    color: var(--btnHoverColor);
  }
}

// Product Category

.product_category_card {
  border: 1px solid var(--borderColor);
  padding: 4px 8px 4px 4px;
  height: 100%;
  border-radius: 4px;

  .product_category_thumb_main {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .count {
    background: transparent;
  }

  .category_description {
    font-size: 14px;
  }
}

// sidebar_modern
.layout-full-layout-left.sidebar_modern,
.layout-full-layout-right.sidebar_modern {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;

  .post_sidebar,
  .contents-sticky {
    width: 100%;
    transition: all 0.3s ease;
  }

  &.modern_sidebar_active {
    grid-template-columns: 1fr;

    .contents-sticky {
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }
}

.layout-full-layout-left.sidebar_modern.modern_sidebar_active {
  .post_sidebar {
    transform: translateX(-100%);
    display: none;
  }
}

.layout-full-layout-right.sidebar_modern {
  grid-template-columns: 2fr 1fr;

  &.modern_sidebar_active {
    .post_sidebar {
      transform: translateX(100%);
      display: none;
    }
  }
}

// sidebar_flyout

.layout-full-layout-left.sidebar_flyout,
.layout-full-layout-right.sidebar_flyout {
  .contents-sticky {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }
  .post_sidebar {
    position: fixed;
    transition: var(--transition);
    top: 0;
    max-width: 465px;
    background: var(--body_bg);
    z-index: 1000;
    padding: 16px;
    height: 100%;
    min-height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px !important;
      height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primaryColor);
      visibility: hidden;
    }

    &::-webkit-scrollbar-track {
      background: var(--globalColor);
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }

    .filter_title {
      .cross_bar {
        background: transparent;
        color: var(--primaryColor);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border: 1px solid var(--borderColor);
        border-radius: 4px;
      }
    }
  }
}

.layout-full-layout-left.sidebar_flyout {
  .post_sidebar {
    left: 0;
    transform: translateX(-100%);
  }

  &.flyout_sidebar_active {
    .post_sidebar {
      transform: translateX(0%);
    }
  }
}

.layout-full-layout-right.sidebar_flyout {
  .post_sidebar {
    right: 0;
    transform: translateX(100%);

    .filter_title {
      flex-direction: row-reverse;
    }
  }

  &.flyout_sidebar_active {
    .post_sidebar {
      transform: translateX(0%);
    }
  }
}

html:has(.flyout_sidebar_overlay) {
  overflow: hidden;
}

.flyout_sidebar_overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color-mix(
      in srgb,
      var(--blackColor) 50%,
      transparent
    ) !important;
    z-index: 9;
  }
}

// sidebar_default
.sidebar_default {
  .post_sidebar {
    @media (max-width: 991px) {
      position: fixed;
      top: 10px;
      left: 0;
      // overflow: hidden;
      transition: var(--transition);
      max-width: 465px;
      background: var(--body_bg);
      z-index: 1000;
      padding: 16px;
      height: 100%;
      min-height: 100vh;
      overflow: auto;
      transform: translateX(-100%);

      &::-webkit-scrollbar {
        width: 4px !important;
        height: 5px !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--primaryColor);
        visibility: hidden;
      }

      &::-webkit-scrollbar-track {
        background: var(--globalColor);
      }
    }
  }

  &.sidebar_default_active {
    .post_sidebar {
      transform: translateX(0);
    }
  }

  .cross_bar,
  .btn-filter {
    display: none;
    @media screen and (max-width: 991px) {
      padding: 8px 16px;
      display: block;
      height: auto;
    }
  }
}

.woocommerce {
  .product_badge {
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 12px;
    display: flex;
    gap: 4px;
    text-align: center;

    span {
      padding: 4px 8px;
      color: var(--btnColor);
      background: var(--btnBgColor);
      border-radius: var(--btnBorderRadius);
      font-size: 12px;
      line-height: 1.2;

      &.new {
        background: var(--secondaryColor);
      }

      &.hot {
        background: #ff6347;
      }

      &.tp-product-details-offer {
        background: green;
      }
    }
  }

  .woocommerce_single_image {
    position: relative;

    .woocommerce-product-gallery {
      .flex-control-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 8px;
      }
    }
    .woocommerce-product-gallery__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin-bottom: 24px;
    }

    .woocommerce-product-gallery__trigger {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      min-width: 40px;
      border-radius: 50%;
      background: var(--globalColor);
      border: 1px solid var(--borderColor);

      span {
        display: none;
      }

      &::after {
        content: "\f31e";
        font-family: "fontawesome";
        font-size: 20px;
        color: var(--titleColor);
      }
    }

    .woocommerce-product-gallery {
      .swiper-thumbnail-slider {
        max-height: 180px;
      }

      .swiper-wrapper {
        margin-top: 24px;

        .swiper-slide {
          overflow: hidden;

          .product-thumb {
            object-fit: cover;
          }
        }
      }
    }
  }

  // single info start
  .woocommerce_info {
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      margin-bottom: 0;
    }

    .woocommerce_basic_info {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .woocommerce-product-rating {
        display: flex;
        align-items: center;
        gap: 12px;

        .star-rating {
          margin: 0;
          font-size: 12px;
          overflow: hidden;
          position: relative;
          height: 1em;
          line-height: 1.1;
          width: 5.7em;

          &::before {
            content: "\e82b\e82b\e82b\e82b\e82b";
            font-family: "tp-icons";
            color: #cfc8d8;
            top: 0;
            left: 0;
            position: absolute;
          }

          span {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            padding-top: 1.5em;
            font-size: 12px;
            gap: 8px;
            color: var(--secondaryColor);

            &::before {
              content: "\e821\e821\e821\e821\e821";
              font-family: "tp-icons";
              top: 0;
              left: 0;
              position: absolute;
            }

            strong {
              display: block;
            }
          }
        }
      }

      .single_product_price {
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 16px;
        line-height: 1;

        .price {
          del span {
            text-decoration: line-through;
          }

          span {
            font-weight: 500;
          }
        }

        .tp-product-details-offer {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          padding: 6px 8px;
          color: var(--btnColor);
          background: green;
          border-radius: var(--btnBorderRadius);
          font-size: 12px;
          line-height: 1.2;
        }
      }

      .woocommerce-product-details__short-description {
        margin-top: 12px;
      }
    }

    .variations_form .variations {
      .value:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    .woocommerce_others_info {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .product_size_options,
      .product_color_options {
        label {
          display: block;
          margin-bottom: 8px;
        }
      }

      .variations_form {
        table.variations {
          select {
            margin-bottom: 0;
          }
        }
      }
    }

    > .woosc-btn,
    > .woosw-btn {
      display: none;
    }
  }

  form.cart {
    margin-bottom: 0;

    .woocommerce-variation-add-to-cart {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 0;

      @media (max-width: 500px) {
        flex-wrap: wrap;
      }
    }

    .single_add_to_cart_button_group {
      display: flex;
      align-items: center;
      gap: 16px;

      .single_add_to_cart_button {
        width: auto;
      }
    }

    .product_icon_actions {
      display: flex;
      align-items: center;
      gap: 16px;

      .product_icon {
        a,
        .woosc-btn-icon-only,
        .woosq-btn-icon-only,
        .woosw-btn-icon-only {
          background: var(--body_bg);
          color: var(--titleColor);
          height: 50px;
          width: 50px;
          min-width: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px;
          border-radius: 50%;
          border: none;
          border: 1px solid var(--borderColor);

          @media (max-width: 1399px) {
            height: 40px;
            width: 40px;
            min-width: 40px;
          }

          i,
          span {
            font-size: 18px;
          }

          &:hover {
            background: var(--btnHoverBgColor2);
            color: var(--btnHoverColor2);
          }
        }

        &.compare a.woosc-btn-added,
        &.heart a.woosw-btn-added,
        &.cart a.added {
          background: var(--btnHoverBgColor2);
          color: var(--btnHoverColor2);
        }

        &.cart {
          display: flex;
          gap: 4px;
          flex-direction: row-reverse;

          a.added_to_cart {
            width: unset;
            min-width: unset;
            border-radius: var(--btnBorderRadius);
            padding: 10px 12px;
            line-height: 1.2;
            border: none;
          }
        }
      }
    }

    .single_add_to_cart_button {
      width: 100%;
      border-radius: 100px;
      white-space: nowrap;

      @media (max-width: 1399px) {
        padding: 13px 20px;
      }

      @media (max-width: 500px) {
        width: unset;
      }
    }
  }

  .quantity {
    display: flex;
    align-items: center;
    padding: 14px 24px;
    background: var(--globalColor);
    border-radius: 100px;
    max-width: 180px;
    min-width: 150px;

    @media (max-width: 1399px) {
      padding: 10px;
    }

    input[type="number"] {
      margin-bottom: 0;
      -moz-appearance: textfield;
      padding: 0 8px;
      border: none;
      height: auto;
      text-align: center;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .minus,
    .plus {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;
      min-width: 28px;
      padding: 0;
      border-radius: 50%;
      background: var(--btnBgColor);

      i {
        color: var(--btnColor);
        font-size: 12px;
      }
    }
  }

  .product_meta {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .single_product_sku_list,
    .single_product_category_list,
    .single_product_tag_list,
    .posted_in {
      span,
      a {
        color: var(--bodyColor);
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    .posted_in {
      font-weight: 600;

      a {
        font-weight: 400;
        color: var(--bodyColor);
        text-transform: capitalize;
      }
    }
  }

  // single info end

  .custom_woocommerce_tabs {
    border: 1px solid var(--borderColor);
    padding: 0;
    margin: 0;

    ul.wc-tabs {
      display: flex;
      margin-bottom: 0;
      border-bottom: 1px solid var(--borderColor);
      flex-wrap: wrap;
      list-style: none;

      li {
        a {
          display: inline-flex;
          border-bottom: 2px solid transparent;
          border-radius: 0;
          padding: 16px 24px;
          transition: var(--transition);
          white-space: nowrap;

          &:hover {
            border-color: var(--primaryColor);
            color: var(--titleColor);
          }
        }

        &.active a {
          border-color: var(--primaryColor);
          color: var(--titleColor);
        }
      }
    }

    .woocommerce-Tabs-panel {
      padding: 40px;
      background: #f4f3f1;

      @media (max-width: 1199px) {
        padding: 30px;
      }

      @media (max-width: 991px) {
        padding: 24px;
      }

      @media (max-width: 400px) {
        padding: 16px;
      }
    }

    .woocommerce-Reviews {
      .commentlist {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 32px;

        p {
          margin: 0;
        }

        li.review {
          position: relative;
          z-index: 0;

          .star-rating {
            position: absolute;
            top: 0;
            right: 0;
          }
        }

        .comment_container {
          display: flex;
          gap: 16px;

          img {
            width: 70px;
            height: 70px;
            min-width: 70px;
            border-radius: 50%;
          }
        }
      }

      .comment-respond {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .comment-form,
        .comment-form-rating {
          display: flex;
          flex-direction: column;
          gap: 16px;
          margin-bottom: 0;

          p {
            margin-bottom: 0;
          }
        }

        .comment-form-rating label {
          display: flex;

          .required {
            color: red;
          }
        }

        textarea {
          border: 1px solid var(--borderColor);
          border-radius: 4px;
        }
      }
    }
  }

  // details star
  p.stars {
    line-height: 1;

    span {
      line-height: 1;

      a {
        color: var(--primaryColor);
        position: relative;
        height: 1em;
        width: 1em;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
        line-height: 1;

        &::before {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 1em;
          height: 1em;
          line-height: 1;
          content: "\e82b";
          text-indent: 0;
          font-family: "tp-icons";
        }
      }
    }

    a:hover ~ a::before {
      content: "\e82b";
    }

    &:hover a::before {
      content: "\e821";
    }

    &.selected a.active::before {
      content: "\e821";
    }

    &.selected a.active ~ a::before {
      content: "\e82b";
    }

    &.selected a:not(.active)::before {
      content: "\e821";
    }
  }

  // related products
  .related.products {
    &.related-slider-wrapper .swiper-slide .product_card_grid {
      width: 100%;
    }
  }
}

// widget woocommerce
.widget.woocommerce {
  &.widget_product_categories {
    ul.product-categories {
      margin: 0;
      padding: 0;
      list-style: none;

      li.cat-item {
        position: relative;
        margin: 0;
        margin-bottom: 12px;
        padding: 0;
        list-style: none;
        background: transparent;
        a {
          padding: 0;
        }

        .count {
          position: absolute;
          top: 0;
          right: 0;
        }
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }

  &.widget_rating_filter {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      .wc-layered-nav-rating {
        padding: 0;
        margin: 0;
        list-style: none;
        border: none;

        &:not(:last-child) {
          margin-bottom: 12px;
        }

        &.chosen {
          a {
            padding-left: 20px;

            &::before {
              position: absolute;
              top: 0;
              left: 0;
              content: "\f057";
              font-family: "Font Awesome 6 Free";
              font-weight: 900;
              margin-right: 5px;
              text-decoration: none;
              color: red;
            }
          }
        }

        a {
          position: relative;
          padding: 0;
          margin: 0;
          display: flex;
          align-items: center;
          gap: 8px;
          justify-content: space-between;
        }

        .star-rating {
          margin: 0;
          font-size: 12px;
          overflow: hidden;
          position: relative;
          height: 1em;
          line-height: 1.1;
          width: 5.7em;

          &::before {
            content: "\e82b\e82b\e82b\e82b\e82b";
            font-family: "tp-icons";
            color: #cfc8d8;
            top: 0;
            left: 0;
            position: absolute;
          }

          span {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            padding-top: 1.5em;
            font-size: 12px;
            gap: 8px;
            color: var(--secondaryColor);

            &::before {
              content: "\e821\e821\e821\e821\e821";
              font-family: "tp-icons";
              top: 0;
              left: 0;
              position: absolute;
            }

            strong {
              display: block;
            }
          }
        }
      }
    }
  }

  &.widget_price_filter {
    .price_slider_wrapper {
      .ui-widget-content {
        border-radius: 1em;
        background-color: var(--whiteColor);
        border: 0;
      }

      .ui-slider-horizontal {
        height: 0.5em;

        .ui-slider-range {
          top: 0;
          height: 100%;
        }
      }

      .ui-slider {
        position: relative;
        text-align: left;
        margin-left: 0.5em;
        margin-right: 0.5em;

        .ui-slider-range {
          position: absolute;
          z-index: 1;
          font-size: 0.7em;
          display: block;
          border: 0;
          border-radius: 1em;
          background-color: var(--primaryColor);
        }

        .ui-slider-handle {
          position: absolute;
          z-index: 2;
          width: 1em;
          height: 1em;
          background-color: var(--primaryColor);
          border-radius: 1em;
          cursor: ew-resize;
          outline: 0;
          top: -0.3em;
          margin-left: -0.5em;
        }
      }

      .price_slider {
        margin-bottom: 1em;
      }
    }
    .price_slider_amount {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.8751em;

      .button {
        font-size: 1.15em;
        padding: 8px 24px;
      }

      div.clear {
        display: none;
      }
    }
  }
}

// woocommerce product search

form.woocommerce-product-search {
  position: relative;
  display: flex;
  .search-field {
    width: 100%;
    border: unset;
  }
  button {
    padding: 17px 32px;

    @media screen and (max-width: 1200px) {
      padding: 17px 16px;
    }
  }
}

// woocommerce no products found / Empty state

.woocommerce-no-products-found {
  text-align: center;

  .woocommerce-info {
    font-size: 20px;
    font-weight: 500;
    color: var(--titleColor);
    font-family: var(--titleFont);
  }
}

.woocommerce-notices-wrapper {
  .woocommerce-message {
    display: block;
    margin: 2rem auto;
    border: 1px solid var(--borderColor);
    background: var(--globalColor);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--titleColor);
    font-family: var(--titleFont);
    padding: 1rem;
  }
  ul.woocommerce-error {
    list-style: none;
    display: block;
    margin: 2rem auto;
    border: 1px solid var(--borderColor);
    background: var(--globalColor);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: red;
    font-family: var(--titleFont);
    padding: 1rem;
  }
  a,
  button {
    text-decoration: underline !important;
    color: var(--primaryColor);
    transition: all 0.3s ease;
    &:hover {
      text-decoration: none !important;
    }
  }
}

// wc block cart
.wc-block-cart {
  margin-bottom: 0 !important;
  .wc-block-cart-items,
  .wp-block-woocommerce-cart-order-summary-block {
    border: 1px solid var(--borderColor);
  }

  .wc-block-cart-items {
    .wc-block-cart-items__row {
      padding: 0 !important;
      @media screen and (max-width: 991px) and (min-width: 768px) {
        grid-template-columns: 200px 300px !important;
      }

      @media screen and (max-width: 767px) and (min-width: 576px) {
        grid-template-columns: 160px 280px !important;
      }

      @media screen and (max-width: 575px) and (min-width: 480px) {
        grid-template-columns: 120px 200px !important;
      }
    }

    th {
      padding: 8px 16px !important;
    }

    td {
      padding: 8px 16px !important;
      margin: 0 !important;
    }

    .wc-block-components-product-metadata__description {
      display: none;
    }

    .wc-block-cart-item__image {
      img {
        @media (min-width: 992px) {
          width: unset !important;
          max-width: 150px !important;
        }
      }
    }

    .wc-block-cart-item__total {
      .wc-block-components-sale-badge {
        display: block !important;
      }
    }

    .wc-block-components-quantity-selector__input {
      height: unset !important;
    }
  }

  .wc-block-cart__totals-title,
  .wc-block-components-panel,
  .wc-block-components-totals-footer-item {
    padding: 8px 16px !important;
  }

  .wc-block-cart__submit-button {
    .wc-block-components-button__text {
      padding: 8px 16px !important;
      border-radius: 12px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
    }
  }
}

// importent for dark mode

// To apply CSS only when dark mode is enabled
// .woocommerce form .show-password-input::before,
// .woocommerce-page form .show-password-input::before {
// 	filter: brightness(10);
// }

.woocommerce-account.woocommerce-page {
  // &.woocommerce-edit-account,
  // &.woocommerce-dashboard,
  // &.woocommerce-orders,
  // &.woocommerce-downloads,
  // &.woocommerce-edit-address,
  &.logged-in {
    .woocommerce {
      display: flex;
      gap: 24px;
    }
  }

  @media screen and (max-width: 991px) {
    flex-direction: column;
  }

  .woocommerce-MyAccount-navigation {
    position: relative;
    max-width: 300px;
    width: 100%;
    background: var(--globalColor);
    padding: 40px 24px 24px;
    border-radius: 12px;

    @media screen and (max-width: 991px) {
      padding: 60px 24px 24px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100vh;
      overflow: auto;
      transform: translateX(-100%);
      transition: var(--transition);
      &.woocommerce-MyAccount-navigation_active {
        transform: translateX(0);
      }
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        a {
          display: block;
          padding: 12px 24px;
          border: 1px solid var(--borderColor);
          border-radius: 12px;
          margin-bottom: 12px;
          transition: var(--transition);

          @media screen and (max-width: 991px) {
            padding: 8px 16px;
          }
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
        &.is-active {
          a {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }
    .woocommerce-MyAccount-navigation-toggle {
      padding: 8px 16px;
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      @media screen and (max-width: 991px) {
        display: block;
      }
    }
  }

  .woocommerce-MyAccount-content-wrapper {
    position: relative;
    width: 100%;

    .woocommerce-MyAccount-navigation-toggle-wrapper {
      padding: 8px 16px;
      border: 1px solid var(--borderColor);
      border-radius: 12px;
      text-align: right;
      margin-bottom: 24px;
      display: none;
      @media screen and (max-width: 991px) {
        display: block;
      }

      .woocommerce-MyAccount-navigation-toggle {
        padding: 8px 16px;
      }
    }
  }

  .woocommerce-MyAccount-content {
    position: relative;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--borderColor);
    border-radius: 12px;

    .woocommerce-Address {
      .woocommerce-Address-title {
        margin-bottom: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--borderColor);

        .edit {
          padding: 8px 16px;
          border-radius: 12px;
          background-color: var(--primaryColor);
          color: var(--whiteColor);
        }
      }
    }
  }

  // log in page
  .password-input {
    position: relative;
    .show-password-input {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 20px;
      color: var(--titleColor);
      background: transparent;
      padding: 0;
      font-size: 16px;

      &::before {
        content: "\f06e";
        font-family: "Font Awesome 5 Free";
      }

      &.display-password {
        &::before {
          content: "\f070";
        }
      }
    }
  }

  .woocommerce-form-row {
    label {
      margin-bottom: 12px;
    }
  }

  .woocommerce-form__label-for-checkbox {
    margin-right: 12px;
    display: inline-flex;
    align-items: center;

    input {
      margin-right: 6px;
    }
  }

  .woocommerce-form-login__submit {
    border: 1px solid var(--primaryColor);
    background: transparent;
    color: var(--primaryColor);
    transition: var(--transition);

    &:hover {
      background: var(--primaryColor);
      color: var(--whiteColor);
    }
  }
}

.wp-block-woocommerce-empty-cart-block {
  .wc-block-grid {
    .wc-block-grid__products {
      .wc-block-grid__product {
        .wc-block-grid__product-title {
          margin-bottom: 0;
        }
        p {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
