/* ---------------------------
  08. Woocommerce Style 
------------------------------*/

.woocommerce-account.woocommerce-page.woocommerce-dashboard,
.woocommerce-account.woocommerce-page.woocommerce-orders,
.woocommerce-account.woocommerce-page.woocommerce-edit-account,
.woocommerce-account.woocommerce-page.woocommerce-edit-address,
.woocommerce-account.woocommerce-page.woocommerce-downloads,
.woocommerce-account.woocommerce-page.woocommerce-address {
  .woocommerce {
    display: flex;
    gap: 24px;
    width: 100%;
  }
}

.woocommerce-MyAccount-navigation {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border: 1px solid var(--borderColor);
      border-bottom: 0;
      transition: all 0.3s linear 0s;

      &.is-active,
      &:hover {
        background: var(--globalColor);
        border-left: 4px solid;
      }

      &:last-child {
        border-bottom: 1px solid var(--borderColor);
      }

      a {
        padding: 10px 15px;
        display: block;
        color: var(--titleColor);
      }
    }
  }
}

.woocommerce-MyAccount-content {
  width: 100%;

  .u-columns.woocommerce-Addresses.addresses {
    width: 100%;
    display: flex;
    gap: 24px;
    .u-column1.col-1.woocommerce-Address {
      width: calc(40% - 12px);
    }
    .u-column2.col-2.woocommerce-Address {
      width: calc(60% - 12px);
    }
  }
  form.woocommerce-EditAccountForm.edit-account {
    border: 1px solid var(--borderColor);
    padding: 12px;
    border-radius: 8px;

    fieldset {
      border-color: var(--borderColor);
      border-radius: 0px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}

span.password-input {
  position: relative;
  .woocommerce-Input {
    background: var(--globalColor);
    border: 1px solid var(--borderColor);
    color: var(--titleColor);
    height: 50px;
    padding: 0 15px;
    border-radius: 0px;
    font-size: 14px;
    position: relative;
    &:focus {
      border-color: var(--primaryColor);
      outline: none;
    }
  }
  button[aria-label="Show password"],
  button[aria-label="Hide password"] {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 16px;
    color: var(--bodyColor);
    cursor: pointer;
    padding: 0;

    &::before {
      font-family: "fontawesome";
      content: "\f070";
    }
  }
  button[aria-label="Hide password"] {
    &::before {
      font-family: "fontawesome";
      content: "\f06e";
    }
  }
}

.woocommerce .woocommerce-Address {
  border: 1px solid var(--borderColor);
  padding: 12px;

  address {
    margin-bottom: 16px;
  }
}

span.woocommerce-input-wrapper {
  input {
    border: 1px solid var(--borderColor);
    &:focus {
      border-color: var(--primaryColor);
      outline: none;
    }
  }
}

.tp_shop_top_portion {
  border: 1px solid var(--borderColor);
  background-color: var(--body_bg);
  border-radius: var(--boxBorderRadius);
  padding: 15px;

  .layout_area .woocommerce-ordering {
    margin-bottom: 0;
  }

  &.shop_topbar_position_1 {
    .tp_shop_top_portion_bar {
      flex-direction: row-reverse;

      .layout_area,
      .bar_area {
        flex-direction: row-reverse;
      }
    }
  }

  .bar_area .sidebar_link {
    background: transparent;

    img {
      width: 28px;
      min-width: 28px;
      height: 28px;
    }

    i {
      font-size: 20px;
    }
  }

  p.woocommerce-result-count {
    margin-bottom: 0;
    color: var(--titleColor);
    line-height: 1.2;
  }

  @media (max-width: 767px) {
    padding: 10px;

    @media (max-width: 400px) {
      .nice-select {
        padding: 10px;
        padding-right: 24px;

        &:after {
          right: 12px;
        }
      }
    }

    .layout_area {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.main-category-info {
  img {
    max-width: 100px;
    width: 100px;
    height: 100%;
    border: 1px solid var(--borderColor);
    border-radius: 4px;
  }
}

// product card
.product_card {
  flex-direction: column;
  gap: 20px;

  .product_card_thumb {
    position: relative;
    overflow: hidden;
    z-index: 0;
    background: var(--globalColor);

    img {
      width: 100%;
      transition: all 0.7s ease;
    }

    .product_2nd_img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .product_icon_actions,
  .product_color_options,
  .product_badge {
    position: absolute;
    z-index: 2;
  }

  .product_badge {
    top: 12px;
    left: 12px;
    display: flex;
    gap: 4px;
    text-align: center;

    span {
      padding: 4px 8px;
      color: var(--btnColor);
      background: var(--btnBgColor);
      border-radius: var(--btnBorderRadius);
      font-size: 12px;
      line-height: 1.2;

      &.new {
        background: var(--secondaryColor);
      }
    }
  }

  .product_color_options {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 24px;
    width: 100%;
    gap: 10px;

    .variant_color {
      width: 16px;
      max-width: 16px;
      height: 16px;
      padding: 0 !important;
      border-radius: 50%;
      outline-offset: 2px;
      outline: 1px solid var(--borderColor);
    }
  }

  .product_icon_actions {
    display: flex;
    flex-direction: column;
    align-items: end;
    top: 50%;
    right: -160px;
    transform: translateY(-50%);
    gap: 8px;
    transition: var(--transition);

    .product_icon {
      a {
        background: var(--body_bg);
        color: var(--titleColor);
        height: 40px;
        width: 40px;
        min-width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
        border-radius: 50%;
        border: none;

        i,
        span {
          font-size: 18px;
        }

        &:hover {
          background: var(--btnHoverBgColor2);
          color: var(--btnHoverColor2);
        }
      }

      &.compare a.woosc-btn-added,
      &.heart a.woosw-btn-added,
      &.cart a.added {
        background: var(--btnHoverBgColor2);
        color: var(--btnHoverColor2);
      }

      &.cart {
        display: flex;
        gap: 4px;
        flex-direction: row-reverse;

        a.added_to_cart {
          width: unset;
          min-width: unset;
          border-radius: var(--btnBorderRadius);
          padding: 10px 12px;
          line-height: 1.2;
          border: none;
        }
      }
    }
  }

  .product_info {
    .product_title a {
      color: var(--titleColor);
    }

    .product_price .price del span {
      text-decoration: line-through;
      color: var(--titleColor);
    }

    .woocommerce-Price-amount {
      color: var(--primaryColor);
    }
  }

  &.has_2nd_img:hover {
    .product_card_thumb {
      .product_2nd_img {
        opacity: 1;
      }
    }
  }

  &:hover {
    .product_card_thumb {
      img {
        transform: scale(1.04);
      }
    }

    .product_icon_actions {
      right: 24px;
    }
  }
}

.product_card_list .product_card {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background: var(--globalColor);

  @media (max-width: 991px) {
    gap: 24px;
  }

  @media (max-width: 767px) {
    align-items: start;
    gap: 18px;

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  .product_card_thumb {
    min-width: 320px;
    width: 320px;

    @media (max-width: 991px) {
      min-width: 260px !important;
      width: 260px !important;
    }

    @media (max-width: 767px) {
      min-width: 220px !important;
      width: 220px !important;
    }

    @media (max-width: 575px) {
      min-width: 100% !important;
      width: 100% !important;
    }
  }

  .product_info {
    width: 100%;
    padding: 12px;
    padding-left: 0;

    @media (max-width: 991px) {
      .woo_card_btn.mt-30 {
        margin-top: 24px;
      }
    }

    @media (max-width: 575px) {
      padding-top: 0px;
      padding-left: 12px;
    }
  }
}

// product star-rating
.star-rating {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1;
  width: 5.7em;

  &::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #cfc8d8;
    top: 0;
    left: 0;
    position: absolute;
    font-family: "fontawesome";
  }

  span {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding-top: 1.5em;
    font-size: 12px;
    color: var(--woo-primary-color);
    gap: 8px;

    &::before {
      content: "\f005 \f005 \f005 \f005 \f005";
      color: var(--primaryColor);
      top: 0;
      left: 0;
      position: absolute;
      font-family: "fontawesome";
    }

    strong {
      display: block;
    }
  }
}

// pagination
.pagination-area,
.woocommerce-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;

  @media (max-width: 991) {
    margin-top: 40px;
  }

  .nav-links,
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;

    .page-numbers {
      width: 50px;
      min-width: 50px;
      height: 50px;
      border-radius: 50%;
      background: var(--globalColor);
      color: var(--btnColor2);
      border: 1px solid var(--borderColor);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 700;
      transition: var(--transition);

      &.current,
      &:focus,
      &:hover {
        background: var(--btnHoverBgColor2);
        color: var(--btnHoverColor2);

        .page-numbers.current,
        .page-numbers {
          color: inherit;
        }
      }

      &.prev,
      &.next {
        font-size: 0;
        position: relative;

        &::before {
          content: "\f104";
          font-family: "fontawesome";
          font-size: 16px;
        }
      }

      &.next {
        &::before {
          content: "\f105";
        }
      }
    }
  }
}

.woo_card_btn {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}

.woo_card_btn a,
.added_to_cart,
.add_to_cart_button {
  padding: 12px 20px;
  background: var(--btnBgColor);
  color: var(--btnColor);
  border-radius: var(--btnBorderRadius);
  border: 1px solid var(--borderColor);
  display: inline-flex;
  line-height: 1.3;

  @media (max-width: 991px) {
    padding: 10px 16px;
  }

  &:focus,
  &:hover {
    background: var(--btnHoverBgColor);
    color: var(--btnHoverColor);
  }
}

// Product Category

.product_category_card {
  border: 1px solid var(--borderColor);
  padding: 4px 8px 4px 4px;
  height: 100%;
  border-radius: 4px;

  .product_category_thumb_main {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .count {
    background: transparent;
  }

  .category_description {
    font-size: 14px;
  }
}

// sidebar_modern
.layout-full-layout-left.sidebar_modern,
.layout-full-layout-right.sidebar_modern {
  display: grid;
  grid-template-columns: 1fr 2fr;
  overflow: hidden;

  .post_sidebar,
  .contents-sticky {
    width: 100%;
    transition: all 0.3s ease;
  }

  &.modern_sidebar_active {
    grid-template-columns: 1fr;

    .contents-sticky {
      padding-left: calc(var(--bs-gutter-x) * 0.5);
    }
  }
}

.layout-full-layout-left.sidebar_modern.modern_sidebar_active {
  .post_sidebar {
    transform: translateX(-100%);
    display: none;
  }
}

.layout-full-layout-right.sidebar_modern {
  grid-template-columns: 2fr 1fr;

  &.modern_sidebar_active {
    .post_sidebar {
      transform: translateX(100%);
      display: none;
    }
  }
}

// sidebar_flyout

.layout-full-layout-left.sidebar_flyout,
.layout-full-layout-right.sidebar_flyout {
  .contents-sticky {
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5) !important;
    padding-left: calc(var(--bs-gutter-x) * 0.5) !important;
  }

  .post_sidebar {
    position: fixed;
    overflow: hidden;
    transition: var(--transition);
    top: 0;
    max-width: 465px;
    background: var(--body_bg);
    z-index: 10;
    padding: 16px;
    height: 100%;
    min-height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px !important;
      height: 5px !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--primaryColor);
      visibility: hidden;
    }

    &::-webkit-scrollbar-track {
      background: var(--globalColor);
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
      }
    }

    .filter_title {
      .cross_bar {
        background: transparent;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        min-width: 40px;
        height: 40px;
        border: 1px solid var(--borderColor);
        border-radius: 4px;
      }
    }
  }
}

.layout-full-layout-left.sidebar_flyout {
  .post_sidebar {
    left: 0;
    transform: translateX(-100%);
  }

  &.flyout_sidebar_active {
    .post_sidebar {
      transform: translateX(0%);
    }
  }
}

.layout-full-layout-right.sidebar_flyout {
  .post_sidebar {
    right: 0;
    transform: translateX(100%);

    .filter_title {
      flex-direction: row-reverse;
    }
  }

  &.flyout_sidebar_active {
    .post_sidebar {
      transform: translateX(0%);
    }
  }
}

html:has(.flyout_sidebar_overlay) {
  overflow: hidden;
}

.flyout_sidebar_overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: color-mix(
      in srgb,
      var(--blackColor) 50%,
      transparent
    ) !important;
    z-index: 9;
  }
}

.woocommerce .woocommerce_info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: 1px solid var(--borderColor);

  p {
    margin-bottom: 0;
  }

  .woocommerce_basic_info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .woocommerce-product-rating {
      display: flex;
      align-items: center;
      gap: 12px;

      .star-rating {
        font-size: 18px;

        ::before {
          font-size: 18px;

          span::before {
            font-size: 18px;
          }
        }
      }
    }

    .single_product_price {
      margin-top: 12px;
      display: flex;
      align-items: center;
      gap: 16px;
      line-height: 1;

      .price {
        del span {
          text-decoration: line-through;
        }

        span {
          font-weight: 500;
        }
      }

      .tp-product-details-offer {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        padding: 6px 8px;
        color: var(--btnColor);
        background: var(--secondaryColor);
        border-radius: var(--btnBorderRadius);
        font-size: 12px;
        line-height: 1.2;
      }
    }

    .woocommerce-product-details__short-description {
      margin-top: 12px;
    }
  }

  .woocommerce_others_info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .product_size_options,
    .product_color_options {
      label {
        display: block;
        margin-bottom: 8px;
      }
    }
  }
}

// To apply CSS only when dark mode is enabled
// .woocommerce form .show-password-input::before,
// .woocommerce-page form .show-password-input::before {
// 	filter: brightness(10);
// }
