/* estatik - Real Estate Plugin */

/* estatik - search bar style */
.customiz-search-field {
  .es-search {
    padding: 0 !important;

    &.es-search--main {
      form {
        input,
        button {
          height: 52px !important;
          margin-bottom: 0 !important;
          &::placeholder {
            color: var(--bodyColor) !important;
            opacity: 1 !important;
            font-size: 16px !important;
          }

          @media (max-width: 767px) {
            padding: 8px 12px !important;
          }
          @media (max-width: 480px) {
            padding: 8px !important;
          }
        }

        .es-search__address {
          @media (min-width: 568px) {
            position: relative;
            z-index: 10;
            padding: 8px !important;
            border-radius: 8px;
            border: 1px solid #dfe0e4;
            background: #f5f6f7;
            font-size: 16px !important;
            color: var(--bodyColor);
            font-family: var(--bodyFont);
          }
        }
        .es-search-nav {
          position: relative;
          z-index: 20;
          width: 100%;
          @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .js-es-search__collapse-link {
          @media (max-width: 767px) {
            margin-top: 10px;
          }
        }
        .js-es-search-nav__single-item {
          border-radius: 8px;
          border: 1px solid #dfe0e4;
          background: #f5f6f7;
          font-size: 16px !important;
          color: var(--bodyColor);
          font-family: var(--bodyFont);

          @media (min-width: 768px) {
            flex: 1;

            a {
              position: relative;
              z-index: 10;
              height: 52px !important;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 8px !important;
              color: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              font-family: inherit !important;
              line-height: 1 !important;
            }
          }
          @media (max-width: 767px) {
            margin-top: 10px;
            padding: 8px !important;
          }
        }

        .es-search-nav__content {
          z-index: 30;

          .es-field__label {
            font-size: 16px !important;
            font-weight: 600 !important;
            color: var(--bodyColor) !important;
          }
          .select2-selection--single {
            height: 36px !important;
            .select2-selection__rendered {
              font-size: 16px !important;
              font-weight: 500 !important;
              color: var(--bodyColor) !important;
              font-family: var(--bodyFont);
            }
            .select2-selection__arrow b {
              font-size: 16px !important;
            }
          }
          .es-field {
            .label {
              height: unset !important;
              margin-bottom: 0 !important;
              .es-field__label {
                font-size: 16px !important;
                font-weight: 500 !important;
                color: var(--bodyColor) !important;
                font-family: var(--bodyFont);
                line-height: 1.2 !important;
              }
            }
          }

          @media (max-width: 767px) {
            margin-top: 0 !important;
          }
        }
      }
    }

    &.es-search--simple {
      form {
        input,
        button {
          height: 52px !important;
          margin-bottom: 0 !important;
          &::placeholder {
            color: var(--bodyColor) !important;
            opacity: 1 !important;
            font-size: 16px !important;
          }
        }

        .es-search-nav {
          position: relative;
          z-index: 20;
          @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
        .js-es-search__collapse-link {
          @media (max-width: 767px) {
            margin-top: 10px;
          }
        }
        .js-es-search-nav__single-item {
          z-index: 10;
          border-radius: 8px;
          border: 1px solid #dfe0e4;
          background: #f5f6f7;
          font-size: 16px !important;
          color: var(--bodyColor);
          font-family: var(--bodyFont);

          @media (min-width: 768px) {
            flex: 1;

            a {
              position: relative;
              z-index: 10;
              height: 40px !important;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              font-family: inherit !important;
              line-height: 1 !important;
            }
          }
          @media (max-width: 767px) {
            margin-top: 10px;
            padding: 8px !important;
          }
        }

        .es-search-nav__content {
          z-index: 30;

          .es-field__label {
            font-size: 16px !important;
            font-weight: 600 !important;
            color: var(--bodyColor) !important;
          }
          .select2-selection--single {
            height: 36px !important;
            .select2-selection__rendered {
              font-size: 16px !important;
              font-weight: 500 !important;
              color: var(--bodyColor) !important;
              font-family: var(--bodyFont);
            }
            .select2-selection__arrow b {
              font-size: 16px !important;
            }
          }
          .es-field {
            .label {
              height: unset !important;
              margin-bottom: 0 !important;
              .es-field__label {
                font-size: 16px !important;
                font-weight: 500 !important;
                color: var(--bodyColor) !important;
                font-family: var(--bodyFont);
                line-height: 1.2 !important;
              }
            }
          }

          @media (max-width: 767px) {
            margin-top: 0 !important;
          }
        }
      }
    }
  }
}

/* estatik - property list style */

.es-properties {
  @media (max-width: 575px) {
    margin: 0 !important;
  }

  .es-properties__search {
    margin: 0 0 24px 0;
    .es-search {
      form {
        gap: 12px;
        align-items: baseline;
        margin: 0 !important;

        @media (max-width: 991px) and (min-width: 768px) {
          flex-wrap: wrap;
        }

        @media (max-width: 767px) {
          justify-content: center;
        }

        .es-search__address,
        .es-btn--saved-search,
        .es-search-nav-wrap {
          margin: 0 !important;

          @media (min-width: 768px) {
            flex: 1 1 auto;
            margin: 0 !important;
          }
        }

        .es-search__collapse-link {
          margin: 0 !important;
        }

        .es-search__address {
          max-width: 100%;
          @media (max-width: 575px) {
            max-width: 100%;
            width: 100%;
            flex: auto !important;
          }

          input {
            @media (min-width: 768px) {
              margin-bottom: 0 !important;
            }
          }
        }

        ul.es-search-nav {
          @media (min-width: 768px) {
            display: flex;
            flex-wrap: nowrap !important;
            gap: 12px;
          }

          li.js-es-search-nav__single-item,
          .js-es-search-nav__item {
            @media (min-width: 768px) {
              width: 100% !important;
              border: 1px solid var(--borderColor) !important;
              border-radius: 4px !important;
              margin: 0 !important;
            }
            &:focus-within {
              border-color: var(--primaryColor) !important;
            }

            .js-es-search-nav__label,
            a {
              font-size: 16px !important;
              font-weight: 500 !important;
              color: var(--bodyColor) !important;
              font-family: var(--bodyFont) !important;
            }
            .es-icon {
              font-size: 16px !important;
              color: var(--bodyColor) !important;
              margin-left: auto !important;
            }
          }
        }
      }
    }
  }

  .es-listings__wrap-inner {
    .es-listings-filter {
      .es-title {
        font-size: 24px !important;
        font-weight: 600 !important;
        color: var(--bodyColor) !important;
        font-family: var(--titleFont) !important;

        @media (max-width: 991px) {
          font-size: 20px !important;
        }
        @media screen and (max-width: 767px) {
          font-size: 18px !important;
        }
      }
      .es-control--layouts {
        .js-es-change-layout {
          &.es-btn--active,
          &:hover {
            background: var(--primaryColor) !important;
            color: var(--whiteColor) !important;
            border-color: var(--primaryColor) !important;

            .es-icon {
              color: var(--whiteColor) !important;
            }
          }
        }
      }
    }
  }

  .es-properties__list {
    .js-es-listings {
      display: grid !important;
      gap: 24px !important;
      grid-template-rows: auto !important;
      grid-template-columns: 1fr 1fr 1fr !important;

      @media (max-width: 1199px) and (min-width: 768px) {
        grid-template-columns: 1fr 1fr !important;
      }
      @media (max-width: 767px) {
        grid-template-columns: 1fr !important;
      }

      &.es-listings--list {
        grid-template-columns: 1fr !important;
      }

      .es-listing {
        padding: 16px !important;
        border-radius: 12px !important;
        background: #f4f3f1 !important;

        .es-listing__title {
          font-size: 24px !important;
          font-weight: 600 !important;
          color: var(--primaryColor) !important;
          font-family: var(--titleFont) !important;

          @media (max-width: 991px) {
            font-size: 20px !important;
          }
          @media screen and (max-width: 767px) {
            font-size: 18px !important;
          }
        }
        .es-price {
          font-size: 24px !important;
          font-weight: 600 !important;
          color: var(--secondaryColor) !important;
          font-family: var(--titleFont) !important;

          @media (max-width: 991px) {
            font-size: 20px !important;
          }
          @media screen and (max-width: 767px) {
            font-size: 18px !important;
          }
        }
        .es-listings__image__link {
          border-radius: 8px !important;
          overflow: hidden !important;
        }
        .es-listing__meta {
          li,
          a {
            font-size: 16px !important;
            font-weight: 500 !important;
            color: var(--bodyColor) !important;
            font-family: var(--bodyFont) !important;

            svg,
            i {
              font-size: 16px !important;
              color: var(--secondaryColor) !important;
              fill: var(--secondaryColor) !important;

              path {
                fill: var(--secondaryColor) !important;
              }
            }
          }
        }

        .es-address {
          font-size: 16px !important;
          font-weight: 600 !important;
          color: var(--bodyColor) !important;
          font-family: var(--bodyFont) !important;
        }

        .es-listing__footer {
          .es-listing__terms {
            li,
            a {
              font-size: 16px !important;
              font-weight: 500 !important;
              color: var(--bodyColor) !important;
              font-family: var(--bodyFont) !important;
            }
          }
        }
      }
    }
  }

  &.es-properties--hfm {
    padding: 0 12px;
    width: calc(100vw - 24px) !important;

    .es-properties__list {
      .js-es-listings {
        @media (max-width: 1599px) and (min-width: 1200px) {
          grid-template-columns: 1fr 1fr !important;
        }

        @media (max-width: 1199px) and (min-width: 992px) {
          grid-template-columns: 1fr !important;
        }

        @media (max-width: 991px) {
          flex: unset !important;
        }
      }
    }
    .es-properties__map {
      @media (max-width: 991px) {
        flex: unset !important;
      }
    }
  }
}

/* estatik - property single style */
.es-custom-single-wrapper {
  .js-es-single-property-layout {
    .es-gallery {
      .es-gallery__image {
        .es-gallery__image-background {
          border-radius: 8px;
        }
      }
      .es-gallery__thumb {
        border-radius: 8px;
        overflow: hidden;
      }

      .es-badge {
        border-radius: 8px;
        overflow: hidden;
        padding: 12px 24px;
        font-size: 14px;
        a {
          font-weight: normal !important;
          &:hover {
            color: unset;
          }
        }
      }

      .es-control__item {
        .es-btn {
          border-radius: 8px;
          overflow: hidden;
          padding: 12px 24px;
          font-size: 14px;
          height: unset !important;
          line-height: 1 !important;

          .es-icon {
            color: inherit !important;
          }

          span {
            font-weight: normal !important;
            line-height: 1 !important;
            margin: 0 !important;
            padding: 0 !important;
          }

          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
          }
        }
      }
    }

    .es-single__header,
    .es-single__header-content {
      border-radius: 12px;
      background: #f4f3f1;
      padding: 32px;
      margin-bottom: 24px;

      @media (max-width: 991px) {
        padding: 24px;
      }
      @media (max-width: 575px) {
        padding: 12px;
      }

      .es-single__basic {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        @media (max-width: 480px) {
          flex-direction: column;
          align-items: flex-start;
          .es-control-wrap,
          .es-singe__basic-inner {
            width: 100%;
          }

          .es-control-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .es-btn--request-info {
              margin: 0 !important;
            }
          }
        }
      }

      .es-breadcrumbs {
        a,
        span {
          font-size: 16px;
          line-height: 1.2;
          color: var(--bodyColor);
          font-weight: 500;

          &.es-icon {
            color: var(--bodyColor);
            fill: var(--bodyColor);
            stroke: var(--bodyColor);
            font-size: 14px;
            width: 14px;
            height: 14px;
          }
        }
        a {
          &:hover {
            color: var(--secondaryColor);
          }
        }
      }
    }

    .es-single__address-container {
      display: flex;
      align-items: start;
      flex-direction: column-reverse;

      .es-address {
        font-size: 16px;
        line-height: 1.2;
        color: var(--bodyColor);
        font-weight: 600;
        font-family: var(--bodyFont);
      }
    }

    ul.es-listing__terms,
    ul.es-listing__meta {
      li,
      a {
        display: inline-flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        line-height: 1.2;
        color: var(--bodyColor);
        font-weight: 500;
        font-family: var(--bodyFont);

        svg,
        i {
          color: var(--secondaryColor);
          fill: var(--secondaryColor);
          stroke: var(--secondaryColor);
          font-size: 16px;
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .es-property-section {
    border-radius: 12px;
    background: #f4f3f1;
    padding: 32px;
    margin-bottom: 24px;

    @media (max-width: 991px) {
      padding: 24px;
    }
    @media (max-width: 575px) {
      padding: 12px;
    }

    .es-property-section__title {
      font-size: 20px;
      line-height: 1.2;
      color: var(--bodyColor);
      font-weight: 600;
      font-family: var(--bodyFont);
      margin-bottom: 16px;
      padding-bottom: 12px;
      border-bottom: 1px solid #dfe0e4;

      &::after {
        display: none;
      }
    }

    .es-property-section__content {
      padding: unset !important;
      *:not(.es-icon) {
        font-size: 16px !important;
        color: var(--bodyColor);
        font-weight: 500;
        font-family: var(--bodyFont);
      }
    }
  }
}

.es-request-form {
  @media (max-width: 575px) {
    padding: 8px !important;
  }
  &.es-request-form--section {
    max-width: unset !important;
    width: 100% !important;
    padding: 24px !important;
    @media (max-width: 575px) {
      padding: 8px !important;
    }
    .es-field {
      margin-bottom: 0 !important;
    }

    .es-privacy-policy-container {
      display: none !important;
    }

    .es-btn-wrapper.es-btn-wrapper-submit--margin {
      margin: 0 !important;
      .es-btn {
        padding: 12px 24px !important;
        border-radius: 8px !important;
        overflow: hidden !important;
        font-size: 16px !important;
        height: unset !important;
        line-height: 1 !important;
        color: var(--whiteColor) !important;
        background: var(--primaryColor) !important;
        transition: all 0.3s ease 0s !important;

        &:hover {
          background: var(--secondaryColor) !important;
        }
      }
    }
  }
}

.select2-dropdown.es-phone-dropdown {
  top: 40px;
}

.es-auth {
  width: 95%;
  max-width: 550px;
  font-size: 10px;
  text-align: center;
  padding: 32px 24px !important;
  border-radius: 12px;
  background: #f4f3f1;
  margin: 0 auto !important;
}

.es-powered {
  display: none !important;
}

// taxonomies page style
.archive {
  .main-contain {
    #content {
      .es-custom-archive-wrapper {
        .es-listings.es-listings--list > .type-properties {
          margin-bottom: 0 !important;
        }

        .es-properties__list {
          .js-es-listings:not(.es-listings--list) {
            @media (min-width: 992px) {
              grid-template-columns: 1fr 1fr !important;
            }
          }
        }

        .widget {
          position: relative;
          transition: all 500ms ease;
          margin: 0;
          border-radius: var(--boxBorderRadius);
          padding: 24px 24px 24px;
          background-color: var(--globalColor);
          box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.04);
          &:not(:last-child) {
            margin-bottom: 24px;
          }
        }

        .recent-widget {
          .recent-post-widget {
            .show-featured {
              margin-bottom: 12px;
              padding-bottom: 12px;
              border-bottom: 1px dashed var(--borderColor);
              &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }
}
