/* estatik - Real Estate Plugin */
/* estatik - search bar style */
.customiz-search-field .es-search {
  padding: 0 !important;
}
.customiz-search-field .es-search.es-search--main form input,
.customiz-search-field .es-search.es-search--main form button {
  height: 52px !important;
  margin-bottom: 0 !important;
}
.customiz-search-field .es-search.es-search--main form input::-moz-placeholder, .customiz-search-field .es-search.es-search--main form button::-moz-placeholder {
  color: var(--bodyColor) !important;
  opacity: 1 !important;
  font-size: 16px !important;
}
.customiz-search-field .es-search.es-search--main form input::placeholder,
.customiz-search-field .es-search.es-search--main form button::placeholder {
  color: var(--bodyColor) !important;
  opacity: 1 !important;
  font-size: 16px !important;
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--main form input,
  .customiz-search-field .es-search.es-search--main form button {
    padding: 8px 12px !important;
  }
}
@media (max-width: 480px) {
  .customiz-search-field .es-search.es-search--main form input,
  .customiz-search-field .es-search.es-search--main form button {
    padding: 8px !important;
  }
}
@media (min-width: 568px) {
  .customiz-search-field .es-search.es-search--main form .es-search__address {
    position: relative;
    z-index: 10;
    padding: 8px !important;
    border-radius: 8px;
    border: 1px solid #dfe0e4;
    background: #f5f6f7;
    font-size: 16px !important;
    color: var(--bodyColor);
    font-family: var(--bodyFont);
  }
}
.customiz-search-field .es-search.es-search--main form .es-search-nav {
  position: relative;
  z-index: 20;
  width: 100%;
}
@media (min-width: 768px) {
  .customiz-search-field .es-search.es-search--main form .es-search-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--main form .js-es-search__collapse-link {
    margin-top: 10px;
  }
}
.customiz-search-field .es-search.es-search--main form .js-es-search-nav__single-item {
  border-radius: 8px;
  border: 1px solid #dfe0e4;
  background: #f5f6f7;
  font-size: 16px !important;
  color: var(--bodyColor);
  font-family: var(--bodyFont);
}
@media (min-width: 768px) {
  .customiz-search-field .es-search.es-search--main form .js-es-search-nav__single-item {
    flex: 1;
  }
  .customiz-search-field .es-search.es-search--main form .js-es-search-nav__single-item a {
    position: relative;
    z-index: 10;
    height: 52px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px !important;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    line-height: 1 !important;
  }
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--main form .js-es-search-nav__single-item {
    margin-top: 10px;
    padding: 8px !important;
  }
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content {
  z-index: 30;
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .es-field__label {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--bodyColor) !important;
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .select2-selection--single {
  height: 36px !important;
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .select2-selection--single .select2-selection__rendered {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont);
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .select2-selection--single .select2-selection__arrow b {
  font-size: 16px !important;
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .es-field .label {
  height: unset !important;
  margin-bottom: 0 !important;
}
.customiz-search-field .es-search.es-search--main form .es-search-nav__content .es-field .label .es-field__label {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont);
  line-height: 1.2 !important;
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--main form .es-search-nav__content {
    margin-top: 0 !important;
  }
}
.customiz-search-field .es-search.es-search--simple form input,
.customiz-search-field .es-search.es-search--simple form button {
  height: 52px !important;
  margin-bottom: 0 !important;
}
.customiz-search-field .es-search.es-search--simple form input::-moz-placeholder, .customiz-search-field .es-search.es-search--simple form button::-moz-placeholder {
  color: var(--bodyColor) !important;
  opacity: 1 !important;
  font-size: 16px !important;
}
.customiz-search-field .es-search.es-search--simple form input::placeholder,
.customiz-search-field .es-search.es-search--simple form button::placeholder {
  color: var(--bodyColor) !important;
  opacity: 1 !important;
  font-size: 16px !important;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav {
  position: relative;
  z-index: 20;
}
@media (min-width: 768px) {
  .customiz-search-field .es-search.es-search--simple form .es-search-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--simple form .js-es-search__collapse-link {
    margin-top: 10px;
  }
}
.customiz-search-field .es-search.es-search--simple form .js-es-search-nav__single-item {
  z-index: 10;
  border-radius: 8px;
  border: 1px solid #dfe0e4;
  background: #f5f6f7;
  font-size: 16px !important;
  color: var(--bodyColor);
  font-family: var(--bodyFont);
}
@media (min-width: 768px) {
  .customiz-search-field .es-search.es-search--simple form .js-es-search-nav__single-item {
    flex: 1;
  }
  .customiz-search-field .es-search.es-search--simple form .js-es-search-nav__single-item a {
    position: relative;
    z-index: 10;
    height: 40px !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    font-family: inherit !important;
    line-height: 1 !important;
  }
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--simple form .js-es-search-nav__single-item {
    margin-top: 10px;
    padding: 8px !important;
  }
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content {
  z-index: 30;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .es-field__label {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--bodyColor) !important;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .select2-selection--single {
  height: 36px !important;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .select2-selection--single .select2-selection__rendered {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont);
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .select2-selection--single .select2-selection__arrow b {
  font-size: 16px !important;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .es-field .label {
  height: unset !important;
  margin-bottom: 0 !important;
}
.customiz-search-field .es-search.es-search--simple form .es-search-nav__content .es-field .label .es-field__label {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont);
  line-height: 1.2 !important;
}
@media (max-width: 767px) {
  .customiz-search-field .es-search.es-search--simple form .es-search-nav__content {
    margin-top: 0 !important;
  }
}

/* estatik - property list style */
@media (max-width: 575px) {
  .es-properties {
    margin: 0 !important;
  }
}
.es-properties .es-properties__search {
  margin: 0 0 24px 0;
}
.es-properties .es-properties__search .es-search form {
  gap: 12px;
  align-items: baseline;
  margin: 0 !important;
}
@media (max-width: 991px) and (min-width: 768px) {
  .es-properties .es-properties__search .es-search form {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .es-properties .es-properties__search .es-search form {
    justify-content: center;
  }
}
.es-properties .es-properties__search .es-search form .es-search__address,
.es-properties .es-properties__search .es-search form .es-btn--saved-search,
.es-properties .es-properties__search .es-search form .es-search-nav-wrap {
  margin: 0 !important;
}
@media (min-width: 768px) {
  .es-properties .es-properties__search .es-search form .es-search__address,
  .es-properties .es-properties__search .es-search form .es-btn--saved-search,
  .es-properties .es-properties__search .es-search form .es-search-nav-wrap {
    flex: 1 1 auto;
    margin: 0 !important;
  }
}
.es-properties .es-properties__search .es-search form .es-search__collapse-link {
  margin: 0 !important;
}
.es-properties .es-properties__search .es-search form .es-search__address {
  max-width: 100%;
}
@media (max-width: 575px) {
  .es-properties .es-properties__search .es-search form .es-search__address {
    max-width: 100%;
    width: 100%;
    flex: auto !important;
  }
}
@media (min-width: 768px) {
  .es-properties .es-properties__search .es-search form .es-search__address input {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 768px) {
  .es-properties .es-properties__search .es-search form ul.es-search-nav {
    display: flex;
    flex-wrap: nowrap !important;
    gap: 12px;
  }
}
@media (min-width: 768px) {
  .es-properties .es-properties__search .es-search form ul.es-search-nav li.js-es-search-nav__single-item,
  .es-properties .es-properties__search .es-search form ul.es-search-nav .js-es-search-nav__item {
    width: 100% !important;
    border: 1px solid var(--borderColor) !important;
    border-radius: 4px !important;
    margin: 0 !important;
  }
}
.es-properties .es-properties__search .es-search form ul.es-search-nav li.js-es-search-nav__single-item:focus-within,
.es-properties .es-properties__search .es-search form ul.es-search-nav .js-es-search-nav__item:focus-within {
  border-color: var(--primaryColor) !important;
}
.es-properties .es-properties__search .es-search form ul.es-search-nav li.js-es-search-nav__single-item .js-es-search-nav__label,
.es-properties .es-properties__search .es-search form ul.es-search-nav li.js-es-search-nav__single-item a,
.es-properties .es-properties__search .es-search form ul.es-search-nav .js-es-search-nav__item .js-es-search-nav__label,
.es-properties .es-properties__search .es-search form ul.es-search-nav .js-es-search-nav__item a {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont) !important;
}
.es-properties .es-properties__search .es-search form ul.es-search-nav li.js-es-search-nav__single-item .es-icon,
.es-properties .es-properties__search .es-search form ul.es-search-nav .js-es-search-nav__item .es-icon {
  font-size: 16px !important;
  color: var(--bodyColor) !important;
  margin-left: auto !important;
}
.es-properties .es-listings__wrap-inner .es-listings-filter .es-title {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--bodyColor) !important;
  font-family: var(--titleFont) !important;
}
@media (max-width: 991px) {
  .es-properties .es-listings__wrap-inner .es-listings-filter .es-title {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .es-properties .es-listings__wrap-inner .es-listings-filter .es-title {
    font-size: 18px !important;
  }
}
.es-properties .es-listings__wrap-inner .es-listings-filter .es-control--layouts .js-es-change-layout.es-btn--active, .es-properties .es-listings__wrap-inner .es-listings-filter .es-control--layouts .js-es-change-layout:hover {
  background: var(--primaryColor) !important;
  color: var(--whiteColor) !important;
  border-color: var(--primaryColor) !important;
}
.es-properties .es-listings__wrap-inner .es-listings-filter .es-control--layouts .js-es-change-layout.es-btn--active .es-icon, .es-properties .es-listings__wrap-inner .es-listings-filter .es-control--layouts .js-es-change-layout:hover .es-icon {
  color: var(--whiteColor) !important;
}
.es-properties .es-properties__list .js-es-listings {
  display: grid !important;
  gap: 24px !important;
  grid-template-rows: auto !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}
@media (max-width: 1199px) and (min-width: 768px) {
  .es-properties .es-properties__list .js-es-listings {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 767px) {
  .es-properties .es-properties__list .js-es-listings {
    grid-template-columns: 1fr !important;
  }
}
.es-properties .es-properties__list .js-es-listings.es-listings--list {
  grid-template-columns: 1fr !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing {
  padding: 16px !important;
  border-radius: 12px !important;
  background: #f4f3f1 !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__title {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--primaryColor) !important;
  font-family: var(--titleFont) !important;
}
@media (max-width: 991px) {
  .es-properties .es-properties__list .js-es-listings .es-listing .es-listing__title {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .es-properties .es-properties__list .js-es-listings .es-listing .es-listing__title {
    font-size: 18px !important;
  }
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-price {
  font-size: 24px !important;
  font-weight: 600 !important;
  color: var(--secondaryColor) !important;
  font-family: var(--titleFont) !important;
}
@media (max-width: 991px) {
  .es-properties .es-properties__list .js-es-listings .es-listing .es-price {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 767px) {
  .es-properties .es-properties__list .js-es-listings .es-listing .es-price {
    font-size: 18px !important;
  }
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listings__image__link {
  border-radius: 8px !important;
  overflow: hidden !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta li,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta a {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont) !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta li svg,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta li i,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta a svg,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta a i {
  font-size: 16px !important;
  color: var(--secondaryColor) !important;
  fill: var(--secondaryColor) !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta li svg path,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta li i path,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta a svg path,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__meta a i path {
  fill: var(--secondaryColor) !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-address {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont) !important;
}
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__footer .es-listing__terms li,
.es-properties .es-properties__list .js-es-listings .es-listing .es-listing__footer .es-listing__terms a {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--bodyColor) !important;
  font-family: var(--bodyFont) !important;
}
.es-properties.es-properties--hfm {
  padding: 0 12px;
}
@media (max-width: 1599px) and (min-width: 1200px) {
  .es-properties.es-properties--hfm .es-properties__list .js-es-listings {
    grid-template-columns: 1fr 1fr !important;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .es-properties.es-properties--hfm .es-properties__list .js-es-listings {
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 991px) {
  .es-properties.es-properties--hfm .es-properties__list .js-es-listings {
    flex: unset !important;
  }
}
@media (max-width: 991px) {
  .es-properties.es-properties--hfm .es-properties__map {
    flex: unset !important;
  }
}

/* estatik - agent style */
/* estatik - compare style */
/* estatik - favorites style */
/* estatik - login style */
/* estatik - submit property style */
/* estatik - profile style */
/* estatik - dashboard style */
/* estatik - membership style */
/* estatik - invoice style */
/* estatik - payment style */
/* estatik - review style */
/* estatik - email template style */
/* estatik - property single style */
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-gallery__image .es-gallery__image-background {
  border-radius: 8px;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-gallery__thumb {
  border-radius: 8px;
  overflow: hidden;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-badge {
  border-radius: 8px;
  overflow: hidden;
  padding: 12px 24px;
  font-size: 14px;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-badge a {
  font-weight: normal !important;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-badge a:hover {
  color: unset;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-control__item .es-btn {
  border-radius: 8px;
  overflow: hidden;
  padding: 12px 24px;
  font-size: 14px;
  height: unset !important;
  line-height: 1 !important;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-control__item .es-btn .es-icon {
  color: inherit !important;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-control__item .es-btn span {
  font-weight: normal !important;
  line-height: 1 !important;
  margin: 0 !important;
  padding: 0 !important;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-gallery .es-control__item .es-btn:hover {
  background: var(--primaryColor);
  color: var(--whiteColor);
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content {
  border-radius: 12px;
  background: #f4f3f1;
  padding: 32px;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content {
    padding: 24px;
  }
}
@media (max-width: 575px) {
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content {
    padding: 12px;
  }
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
@media (max-width: 480px) {
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic {
    flex-direction: column;
    align-items: flex-start;
  }
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic .es-control-wrap,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic .es-singe__basic-inner,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic .es-control-wrap,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic .es-singe__basic-inner {
    width: 100%;
  }
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic .es-control-wrap,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic .es-control-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-single__basic .es-control-wrap .es-btn--request-info,
  .es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-single__basic .es-control-wrap .es-btn--request-info {
    margin: 0 !important;
  }
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-breadcrumbs a,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-breadcrumbs span,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-breadcrumbs a,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-breadcrumbs span {
  font-size: 16px;
  line-height: 1.2;
  color: var(--bodyColor);
  font-weight: 500;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-breadcrumbs a.es-icon,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-breadcrumbs span.es-icon,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-breadcrumbs a.es-icon,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-breadcrumbs span.es-icon {
  color: var(--bodyColor);
  fill: var(--bodyColor);
  stroke: var(--bodyColor);
  font-size: 14px;
  width: 14px;
  height: 14px;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header .es-breadcrumbs a:hover,
.es-custom-single-wrapper .js-es-single-property-layout .es-single__header-content .es-breadcrumbs a:hover {
  color: var(--secondaryColor);
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__address-container {
  display: flex;
  align-items: start;
  flex-direction: column-reverse;
}
.es-custom-single-wrapper .js-es-single-property-layout .es-single__address-container .es-address {
  font-size: 16px;
  line-height: 1.2;
  color: var(--bodyColor);
  font-weight: 600;
  font-family: var(--bodyFont);
}
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms li,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms a,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta li,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  line-height: 1.2;
  color: var(--bodyColor);
  font-weight: 500;
  font-family: var(--bodyFont);
}
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms li svg,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms li i,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms a svg,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__terms a i,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta li svg,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta li i,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta a svg,
.es-custom-single-wrapper .js-es-single-property-layout ul.es-listing__meta a i {
  color: var(--secondaryColor);
  fill: var(--secondaryColor);
  stroke: var(--secondaryColor);
  font-size: 16px;
  width: 20px;
  height: 20px;
}
.es-custom-single-wrapper .es-property-section {
  border-radius: 12px;
  background: #f4f3f1;
  padding: 32px;
  margin-bottom: 24px;
}
@media (max-width: 991px) {
  .es-custom-single-wrapper .es-property-section {
    padding: 24px;
  }
}
@media (max-width: 575px) {
  .es-custom-single-wrapper .es-property-section {
    padding: 12px;
  }
}
.es-custom-single-wrapper .es-property-section .es-property-section__title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--bodyColor);
  font-weight: 600;
  font-family: var(--bodyFont);
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dfe0e4;
}
.es-custom-single-wrapper .es-property-section .es-property-section__title::after {
  display: none;
}
.es-custom-single-wrapper .es-property-section .es-property-section__content {
  padding: unset !important;
}
.es-custom-single-wrapper .es-property-section .es-property-section__content *:not(.es-icon) {
  font-size: 16px !important;
  color: var(--bodyColor);
  font-weight: 500;
  font-family: var(--bodyFont);
}

@media (max-width: 575px) {
  .es-request-form {
    padding: 8px !important;
  }
}
.es-request-form.es-request-form--section {
  max-width: unset !important;
  width: 100% !important;
  padding: 24px !important;
}
@media (max-width: 575px) {
  .es-request-form.es-request-form--section {
    padding: 8px !important;
  }
}
.es-request-form.es-request-form--section .es-field {
  margin-bottom: 0 !important;
}
.es-request-form.es-request-form--section .es-privacy-policy-container {
  display: none !important;
}
.es-request-form.es-request-form--section .es-btn-wrapper.es-btn-wrapper-submit--margin {
  margin: 0 !important;
}
.es-request-form.es-request-form--section .es-btn-wrapper.es-btn-wrapper-submit--margin .es-btn {
  padding: 12px 24px !important;
  border-radius: 8px !important;
  overflow: hidden !important;
  font-size: 16px !important;
  height: unset !important;
  line-height: 1 !important;
  color: var(--whiteColor) !important;
  background: var(--primaryColor) !important;
  transition: all 0.3s ease 0s !important;
}
.es-request-form.es-request-form--section .es-btn-wrapper.es-btn-wrapper-submit--margin .es-btn:hover {
  background: var(--secondaryColor) !important;
}

.select2-dropdown.es-phone-dropdown {
  top: 40px;
}

.es-auth {
  width: 95%;
  max-width: 550px;
  font-size: 10px;
  text-align: center;
  padding: 32px 24px !important;
  border-radius: 12px;
  background: #f4f3f1;
  margin: 0 auto !important;
}

.es-powered {
  display: none !important;
}/*# sourceMappingURL=plugin-style.css.map */