/*** 
* -----------------------------------------------------------------------------
*
* Template : Villea - Apartment Complex Single Property Selling WordPress Theme
* Author : Pixelaxis
* Author URI : https://themeforest.net/user/pixelaxis
*
* -----------------------------------------------------------------------------
***/

/* Table Of Content
---------------------------------------------------------
01. Normalize
02. Typography 
03. General Style
04. Global Class 
05. Preloader Style
06. Breadcrumbs Style
07. 404 Style
08. Header Style 
09. Blog Style
010. WooCommerce Style 
11. Contact Style
12. Custom Post Types Style
13. Footer Style 

-------------------------------------------------------- */

:root {
  --bodyFont: "Jost", sans-serif;
  --titleFont: "Jost", sans-serif;
  --transition: all 0.3s ease;
  --body_bg: #ffffff;
  --globalColor: #f5f5f5;
  --borderColor: #dfe0e4;
  --bodyColor: #404a60;
  --titleColor: #222e48;
  --primaryColor: #2660b5;
  --secondaryColor: #eb7a23;
  --whiteColor: #ffffff;
  --blackColor: #171717;
  --linkColor: #2660b5;
  --hoverColor: var(--secondaryColor);
  --boxBorderRadius: 5px;
  --imageBorderRadius: 4px;
  --btnBorderRadius: 5px;
  // btn1
  --btnBgColor: #2660b5;
  --btnHoverBgColor: #eb7a23;
  --btnColor: #ffffff;
  --btnHoverColor: #ffffff;
  // btn2
  --btnBgColor2: transparent;
  --btnHoverBgColor2: #2660b5;
  --btnColor2: #2660b5;
  --btnHoverColor2: #ffffff;
}

@import "typography";
@import "general";
@import "header";
@import "blog";
@import "woo";
@import "contact";
@import "custom_post_type";
@import "input";
@import "footer";
@import "services";
